*{  box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: "Open Sans", sans-serif;
}
.container{
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;

}
.main{
    padding:40px;
    width:450px;
    height: 300px ;
    background-color:#c0c0c0;
    border-radius: 30px;
    font-weight:bold;
    font-size: 18px;
}
.input{
    position: relative;
}
.input textarea{
    margin: 10px;
    background-color: transparent;
    border: 2px black solid;
}
#output{
    color:black;
    font-size: 20px;
    font-weight: normal;
    white-space: pre-wrap;
}
#btn{
    border: none;
    border-radius: 12px;
    background-color: black;
    color:#c0c0c0;
    padding: 5px;
    position:absolute;
    bottom:15px;

}